
.sidebar-FOP{

    top: 86px;
    left: 130px;
    width: 121px;
    height: 34px;
    text-align: left;
    font: normal normal bold 13px/17px Centra No2;
    letter-spacing: 0px;
    color: #42526E;
    opacity: 1;
}
.sidebar-text {

    font: normal normal normal 22px/29px Centra No2;
    letter-spacing: 0px;
    color: #42526E;
    opacity: 1;
}

.location-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.sidebar-logoff {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: normal normal bold 22px/29px Centra No2;
    letter-spacing: 0px;
    color: #D16969;
    opacity: 1;

}

.solid.list{
    top: 233px;
    left: 53px;
    width: 20px;
    height: 16px;
    opacity: 1;
}
/*.sidebar-body{
    top: 226px;
    left: 74px;
    width: 101px;
    height: 29px;
    text-align: left;
    font: normal normal normal 22px/29px Centra No2;
    letter-spacing: 0px;
    color: #42526E;
    opacity: 1;
}*/



.sidebar-body{
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 292px;
    height: 1080px;
    background: #0000000A 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 6px #00000058;
    opacity: 1;
}

.sidebar-body .content {
    flex: 1 1 auto;
}

.sidebar-main {
    width: 292px;
    height: 1080px;
    background: #0000000A 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 6px #00000058;
    opacity: 1;
}

