.iniciarSesionBtn {
    padding: 10px 15px !important;
    background-color: #42526E !important;
    color: white !important;
    border: 1px solid #42526E !important;
    background-color: 250ms !important;
    width: 100%;
    text-align: center;
    text-decoration: none !important;
    margin-top: 10px !important;
}

.iniciarSesionBtn:hover {
        cursor: pointer;
        background-color: white !important;
        color: #42526E !important;
    }


.cancelarBtn {
        padding: 10px 15px !important;
        background-color: white !important;
        color: #42526E !important;
        border: 1px solid #42526E !important;
        background-color: 250ms !important;
        width: 100%;
        text-align: center;
        text-decoration: none !important;
        margin-top: 10px !important;
    }