.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.nav > li {

    font: normal normal normal 18px/23px Centra No2;
    letter-spacing: 0px;
    color: #000000BF;
    opacity: 1;
    margin-left: 18px;
}

.nav_button{
    text-align: left !important;
    font: normal normal bold 20px/40px Centra No2 !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
    opacity: 1 !important;
    text-decoration: none !important;
}

.nav_image {
    width: 8px;
}

.nav_accept_button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav_aprobarBtn {
    background: #5CB85C 0% 0% no-repeat padding-box;
    border: 1px solid #5CB85C;
    border-radius: 4px;
    opacity: 1;
    padding: 10px 15px;
    color: #fff;
    margin-left: 20px;
    text-decoration: none !important;
}

.nav_rechazarBtn {
    background: #E54F4F 0% 0% no-repeat padding-box;
    border: 1px solid #E54F4F;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none !important;
}

.nav_enviarValidacionBtn {
    background: #5CB85C 0% 0% no-repeat padding-box;
    border: 1px solid #5CB85C;
    border-radius: 4px;
    opacity: 1;
    padding: 10px 15px;
    color: #fff;
    margin-left: 20px;
    text-decoration: none !important;
}

.nav_enviarValidacionBtn:hover {
    color: #5CB85C;
    background-color: #fff;
}

.nav_aprobarBtn:hover {
    color: #5CB85C;
    background-color: #fff;
}

.nav_rechazarBtn:hover {
    color: #E54F4F;
    background-color: #fff;
}