.nav {
    display: flex;
    flex-direction: column;
}

.nav > li {

    font: normal normal normal 21px/27px Centra No2;
    letter-spacing: 0px;
    color: #000000BF;
    opacity: 1;
}

.nav_button{
    text-align: left !important;
    font: normal normal bold 31px/40px Centra No2 !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
    opacity: 1 !important;
    text-decoration: none !important;
}